body {
  overflow: hidden;
  cursor: none;
}
@font-face{
	font-family: 'myfont';
	src: url(../fonts/digital.ttf);
}


#score{
	position: absolute;
	z-index: 1;
	top: 10px;
	left: 10px;
	color: white;
	font-size: 40px;
	font-family: 'myfont';
}