body{
	background-image: url("../images/landscape.jpg");
	background-size: 100% auto;
}

#mole{
	/*RESIZE THE MOLE*/
	width: 100px;
	height: 100px;

	/*POSITION THE MOLE*/
	position: absolute;
	top: 0px;
	left: 0px;
}